.carrito-container {
    position: fixed;
    top: 0;
    right: -300px; /* Esto controla la posición inicial fuera de la pantalla */
    width: 300px; /* Ancho del carrito */
    height: 100%;
    background-color: #f0f0f0;
    transition: right 0.3s ease-in-out; /* Animación de transición suave */
}

/* Estilo para mostrar el carrito */
.carrito-container.mostrar {
    right: 0; /* Muestra el carrito al desplazarlo desde la derecha */
}

.filter-container{

    width: 1000px;
    /* Ancho mayor para hacerlo cuadrado */
    height: 280px;
    /* Altura igual al ancho */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Se agregó sombra */
    text-align: center;
    /* Para centrar el contenido */
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

.en-stock{
    
    border-radius: 10px;
    background-color: rgb(100, 191, 100);
    color: black;
    display: inline-block;
    text-align: center;
}