/* Agrega estilos para el cuadro blanco (carrito) */
.carrito {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Agrega estilos para mostrar el cuadro blanco */
.mostrar {
    display: block;
}

/* Estilos para ocultar el cuadro blanco */
.col-md-4:not(.mostrar) {
    display: none;
}

main{
    max-width: 120rem;
	margin: 0 auto;
}

/* Estilo de los Productos*/

.container-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: contain;;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 20px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    font-size: 1.25rem;
}

.info-product h5,
.info-product,
.articulos-del-carrito{
    font-size: 18px;
}

.nombreProducto {
    color: black;       /* Cambia el color del texto a negro */
    font-weight: bold;  /* Hace que el texto sea negrita */
    font-style: italic; /* Hace que el texto sea cursiva */
    font-size: 18px;
}

.descripcionProducto{
    color: black;       /* Cambia el color del texto a negro */
    font-style: italic; /* Hace que el texto sea cursiva */
    font-size: 14px;
}

.montoProducto{
    font-size: 14px;
}

.classBtn{
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    &:hover,
    &:focus {
        color: #fff;
        outline: 0;
  }
}

.first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
        box-shadow: 0 0 40px 40px #e74c3c inset;
    }
}
