/* Agrega estilos para el cuadro blanco (carrito) */
.carrito {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Agrega estilos para mostrar el cuadro blanco */
.mostrar {
    display: block;
}

/* Estilos para ocultar el cuadro blanco */
.col-md-4:not(.mostrar) {
    display: none;
}

main{
    max-width: 120rem;
	margin: 0 auto;
}

/* Estilo de los Productos*/

.container-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: contain;;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}