.inicio_Compras {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Asegura que el contenedor esté centrado verticalmente en la pantalla */
    margin: 0;
}

.container_register_Compras {
    width: 800px;
    /* Ancho mayor para hacerlo cuadrado */
    height: 700px;
    /* Altura igual al ancho */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Se agregó sombra */
    text-align: center;
    /* Para centrar el contenido */
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}


.NumeroCompra {
    text-align: right;
}

.inputCompra {
    width: 200px;
    height: 37px;
    /* O el tamaño que prefieras */
}

.inputDiseño{
    height: 37px;
}

.miLineaDivisoria {
    border: 0;
    height: 2px; /* Esto determina el grosor de tu línea */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); /* Gradiente para la línea */
    margin-top: 20px; /* Espacio arriba de la línea */
    margin-bottom: 20px; /* Espacio debajo de la línea */
  }

