span.input-group-text,
.form-control,
.btn-success,
.table-striped,
.btn-warning,
.btn-danger,
.form-select,
.card-header {
    font-size: 16px;
}

table tr th,
table td {
    border: 1px solid #b6b3b3;
    text-align: center;
}