span.input-group-text,
.form-control,
.btn-success,
.table-striped,
.btn-warning,
.btn-danger,
.form-select,
.card-header,
.btn-info {
    font-size: 16px;
}

.inicio_descuentos {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Asegura que el contenedor esté centrado verticalmente en la pantalla */
    margin: 0;
}

.container_register_descuentos {
    width: 800px;
    /* Ancho mayor para hacerlo cuadrado */
    height: 1090px;
    /* Altura igual al ancho */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Se agregó sombra */
    text-align: center;
    /* Para centrar el contenido */
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}


table tr th,
table td {
    border: 1px solid #b6b3b3;
    text-align: center;
}

